<div>
	<!--<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>-->
	<h2>Task Logger</h2>
	<div class="jumbotron">
		
		<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<form>
				<div class="row">
					<div class="col-md-6">
					<div class="form-group">
						<label>Task Title</label>
						<textarea class="form-control" id="" placeholder="Title of the user story or service ticket"></textarea>
					</div>
					</div>

					<div class="col-md-6">
					<div class="form-group">
						<label>Task Description</label>
						<textarea class="form-control" id="" placeholder="Description of  the task"></textarea>
					</div>
					</div>

				</div>

				<div class="row">
					<div class="col-md-6">
					<div class="form-group">
						<label>Task Type</label>
						<select class="form-control">
							<option>Select type of task</option>
							<option>User Story</option>
							<option>Service Ticket</option>
						</select>
					</div>
					</div>

					<div class="col-md-6">
					<div class="form-group">
						<label>Task Reference ID</label>
						<input type="password" class="form-control" id="" placeholder="Service Ticket or User Story Identifier">
					</div>
					</div>

				</div>

				<div class="row">
					<div class="col-md-6">
					<div class="form-group">
						<label>Estimated Start Date</label>
						<input type="date" class="form-control" id="" placeholder="">
					</div>
					</div>

					<div class="col-md-6">
					<div class="form-group">
						<label>Estimated End Date</label>
						<input type="date" class="form-control" id="" placeholder="">
					</div>
					</div>

				</div>

				<div class="row">
					<div class="col-md-6">
					<div class="form-group">
						<label>Actual Start Date</label>
						<input type="date" class="form-control" id="" placeholder="">
					</div>
					</div>

					<div class="col-md-6">
					<div class="form-group">
						<label>Actual End Date</label>
						<input type="date" class="form-control" id="" placeholder="">
					</div>
					</div>

				</div>
				<br/>
				<div class="row">
					<div class="text-center">
						<button type="submit" class="btn btn-primary btn-lg">Create Task</button>
						<button type="reset" class="btn btn-warning btn-lg">Reset Form</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>